mechanize
requests
websocket
python-dateutil==1.5
docopt
schema

virtualenv

git+https://github.com/trivio/trivio.datasources.git#egg=triv.io.datasources
git+https://github.com/trivio/discodb.git

codd >= 0.1.4

# for testing
nose
httpretty
mock